// ----------------------- base ---------------------------- //
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	// padding: 0 1rem;
	width: 100%;
	overflow-x: hidden;

	@include respond(tablet) {
		overflow-x: hidden !important;
	}
}

// Stop Page Overflow
#root {
	@include respond(tablet) {
		overflow-x: hidden;
	}
}
::selection {
	background-color: var(--color-primary);
	color: var(--color-white);
}
