// Button Component
.btn {
	&,
	&:link,
	&:visited {
		white-space: nowrap;
		font-family: var(--open-sans-font);
		font-weight: 500;
		text-transform: capitalize;
		@include resetLink();
		padding: 1rem 2rem !important;
		line-height: 1.4rem;
		display: inline-block;
		transition: all 0.2s;
		position: relative;
		font-size: var(--default-font-size);
		color: var(--color-white);
		background: var(--color-primary);
		cursor: pointer;
	}

	&:disabled,
	&[disabled] {
		cursor: not-allowed;
	}

	&:hover {
		box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
		background-position: right center;
		color: var(--color-white);

		&::after {
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
	}

	&--white {
		background-color: var(--color-white);
		color: var(--color-grey-dark-1);

		&::after {
			background-color: var(--color-white);
		}
	}

	&--red {
		background-color: #dc3545;
		color: var(--color-white);

		&::after {
			background-color: var(--color-white);
		}
	}

	&--warning {
		background-color: #ffc107;
		color: var(--color-black);

		&::after {
			background-color: var(--color-black);
		}
	}

	&--green {
		background-color: #28a745;
		color: var(--color-white);

		&::after {
			background-color: var(--color-white);
		}
	}
}

.btn--cta {
	color: var(--color-white);
	border: none;
	border-radius: 5px;

	&:hover {
		color: var(--color-white);
	}
}

.btn--table {
	padding: 0.8rem 1rem !important;
}

.btn--translucent {
	background: rgba(73, 191, 76, 0.8);
}

.btn--icon {
	&-reverse {
		flex-direction: row-reverse;
	}

	display: inline-flex;
	color: var(--color-white);
	font-size: 1.6rem;
	align-items: center;

	padding: 0.8rem 1rem;

	border: none;
	border-radius: 0.5rem;

	&-shape {
		width: 2rem;
		height: 1.6rem;
		fill: currentColor;

		&-small {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	& > *:not(:first-child) {
		margin-left: 0.6rem;
	}
}

.btn--warning {
	background: #dc3545;
}
.btn--clear {
	background: transparent;
	color: var(--color-black);
}

.btn--text {
	font-size: var(--default-font-size);
	color: var(--color-primary);
	text-decoration: none;
	display: inline-block;
	border: none;
	padding: 1px 2px;
	transition: all 0.2s;

	&:link,
	&:visited {
		font-size: var(--default-font-size);
		color: var(--color-primary);
		text-decoration: none;
		display: inline-block;
		border: none;
		padding: 3px;
		transition: all 0.2s;
	}

	&:hover {
		color: var(--color-white);
		background-color: var(--color-primary);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	}
}

.btn--center {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

// Table Icons
.table-icon {
	width: 2.5rem;
	height: 2rem;
	fill: currentColor;
	cursor: pointer;

	&.edit {
		fill: #28a745;
	}
	&.delete {
		fill: #dc3545;
	}
	&.warning {
		fill: #ffc107;
	}
	&.view {
		fill: grey;
	}
}
.table-actions {
	cursor: pointer;
	&:not(:first-of-type) {
		margin-left: 1.5rem;
	}
}
