body {
	font-size: var(--default-font-size);
	font-family: var(--open-sans-font);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heading {
	&--super {
		font-family: var(--roboto-font);
		font-weight: 900;
		line-height: 2;
		font-size: 5rem;
	}
	&--main {
		font-family: var(--roboto-font);
		font-weight: 900;
		line-height: 1.5;
		font-size: 3.5rem;
	}
	&--sub {
		font-family: var(--roboto-font);
		font-weight: 700;
		line-height: 1.2;
		font-size: 2.5rem;
	}
	&--primary {
		font-family: var(--roboto-font);
		font-weight: 600;
		font-size: 1.8rem;
	}
}

.text {
	&--small {
		font-size: 1.3rem;
	}
	&--big {
		font-size: 2rem;
	}
	&--medium {
		font-size: 1.6rem;
		line-height: 1.8;
	}
	&--large {
		font-size: 3rem;
	}
	&--bold {
		font-family: var(--roboto-font);
		font-weight: 600;
	}

	&--italic {
		font-style: italic;
	}

	&--black {
		color: var(--color-black);
	}
	&--grey {
		color: var(--color-grey-text);
	}
	&--white {
		// color: var(--color-white);
		color: #fcfcfb;
	}

	&--colored {
		color: #282f6e;
	}

	&--link {
		color: #4a82ff;
	}

	&--green {
		color: #49bf4c;
	}
}
